<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <!-- This is a file appender that will print to a file. -->
   <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs\\log.txt</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%mdc] [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

  <root level="all">
    <appender-ref ref="FILE" />
  </root>




</configuration>